body, 
body *{
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #C174C3;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1900px;
    margin: 0px calc(50% - 950px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*horizontal vertical blur color*/
    padding: 4%;
}

/*HEADER*/

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 50px 50px;
    margin-top: 40px;
}

header > .logo{
    object-fit: contain;
    margin-left: 5%;
    width: 10%;
}

header > .main-nav{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.main-nav > .nav-link{
    font-size: 25px;
    text-decoration: none;
    color: black;
    transition: color 0.15s;
}

.main-nav > .nav-link:hover{
    color: #CC7E98;
}

.icon-bar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 5%;
    align-items: center;
}

.icon-bar > a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    transition: color 0.15s;
}

.icon-bar > a:hover {
    color: #CC7E98;
}

/*MAIN CONTENT*/


.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 80px;
    width: 1900px;
    height: 1000px;
    margin: 0px calc(50% - 950px);
}

.arrow-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 5%;
    background-color: transparent;
    transition: color 0.15s;
}

.arrow-left > a{
    text-decoration: none;
    font-size: 45px;
    color: #A5A5A5;
}

.arrow-left > a:hover{
    color: #CC7E98;
}

main > .section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    gap: 10px;
}

.section-left > .title{
    padding: 10px 0px;
    flex-direction: row;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-left > .desription{
    padding: 10px 0px;
    flex-direction: row;
    color: black;
    font-size: 70px;
    line-height: 90px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-left > .shop-button{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.shop-button > .btn{
    text-align: center;
    background-color: #fff;
    border-color: #000;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s;
    margin-top: 25px;
}

.shop-button > .btn:hover{
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}

main > .section-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 55%;
}

.shoe-image{
    background-image: url(../img/NYKEN\ AIR.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

section >.shoe-image > img{
    width: 110%;
}

/*.text-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}*/

section >.shodow-image > img{
    width: 110%;
}

.shodow-image{
    margin-left: 10px;
}

.arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 5%;
    background-color: transparent;
    transition: color 0.15s;
}

.arrow-right > a{
    text-decoration: none;
    font-size: 45px;
    color: #A5A5A5;
}

.arrow-right > a:hover{
    text-decoration: none;
    font-size: 45px;
    color: #CC7E98;
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: center;
    padding: 50px 50px;
}

footer > .pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
}

footer > .pagination > a{
    align-items: center;
    width: 40px;
    height: 40px;
    color: black;
    text-decoration: none;
    transition: all 2s;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    border-radius: 50%;
}

footer > .pagination > a:hover{
    justify-content: center;
    border: 0.1rem solid black;
    background-color: transparent;
    cursor: pointer;
}

/*1900px responsive*/

@media (max-width: 1900px){
    .container{
        width: 100%;
        margin: 0px calc(50% - 50%);
    }

    .header{
        margin-top: 40px;
    }

    main > .section-left{
        width: 100%;
        margin: 0 calc(50% - 50%);
    }
    main > .section-right{
        flex-wrap: nowrap;
        width: 120%;
    }

    section >.shoe-image > img{
        width: 100%;
    }
    
    section >.shodow-image > img{
        width: 100%;
    }

}

/*1300px responsive*/

@media (max-width: 1300px){

    .container{
        width: 100%;
        margin: 0px calc(50% - 50%);
    }

    .header{
        margin-top: 40px;
    }
    
}

/*807px responsive (mobile version)*/

@media (max-width: 807px){

    .container{
        width: 100%;
        margin: 0px calc(50% - 50%);
    }

    .header{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    header > .logo{
        object-fit: contain;
        justify-content: left;
        width: 20%;
    }
    
    header > .main-nav{
        flex-wrap: nowrap;
        margin-left: 2%;
        justify-content: center;
    }

    .icon-bar{
        flex-wrap: nowrap;
        justify-content: right;
        margin-left: 2%;
    }

    .main{
        flex-wrap: wrap;
        width: 100%;
        height: 1080px;
        margin: 0px calc(50% - 50%);
        gap: 10px;
    }

    main > .section-left{
        justify-content: left;
        width: 80%;
        margin: 35px 0px 35px 0px calc(50% - 50%);
    }
    
    .shop-button > .btn{
        margin-top: 0px;
    }

    main > .section-right{
        flex-wrap: wrap;
        width: 70%;
    }

    .footer{
        padding: 10px 10px;
    }

}


